[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm
[submodule "third-party/kissnet"]
	path = third-party/kissnet
	url = https://github.com/Ybalrid/kissnet
[submodule "third-party/bit7z"]
	path = third-party/bit7z
	url = https://github.com/rikyoz/bit7z.git
